.logo{
  width: 10%;
  display: inline-block;
  padding: 8px 0;

  img{
    // border: 1px solid black;
    display: block;
    margin: 8px auto;
    width: 150px;
  }
}
.icon {
    width: 50px; /* Adjust size as needed */
    height: 30px; /* Ensure consistent height */
    color:#115;
  }
.navlink{
 position: relative;
 transition: all 0.4s ease-out;
 display: flex;
 width: 50%;
 align-items: center;
padding: 10px;
}

.icon:hover{
    color:white;
}
.navlink:hover::after{
    content: attr(title);
    position: absolute;
    left: 30%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opactiy 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}
.navlink::after{
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:  opacity 0.3s ease, visibility 0.3s ease;;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem; /* Adjust the padding to control the width */
  border: 1px solid white; /* Remove the default border */
  // outline: none; /* Remove the outline when focused */
}

.navbar-toggler-icon {
  width: 28px; /* Custom width for the icon */
  height: 2px; /* Custom height (thickness) for the icon lines */
  // background-color: #fff; /* Set the color of the icon */
}

/* Create custom lines for the hamburger */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffff; /* Set the color of the icon lines */
  margin: 5px 0; /* Spacing between the lines */
  border: 1px solid white;
}

@media (max-width: 768px) {
    .navlink {
      justify-content: center;
      padding: 8px 0;
      display: flex;
      flex-direction: row;
      width: 100%; 
    }
  
    .navbar-brand h1 {
      font-size: 1.5rem; 
    }
  
    .icon {
      width: 40px;
      height: 20px;
    }
    .navlink:hover::after{
        // position: relative;
        top: 0;
        // bottom: 150px;
        // right: 20px;
    }
  }